{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="w-96 mx-auto">
        <h1 class="mb-4 text-2xl">Create new Post</h1>

        {{ include('post/_form.html.twig') }}

        <a href="{{ path('post_index') }}">back to list</a>
    </div>
{% endblock %}
